<!-- Formularz początkowo znajduje się w dokumencie HTML. 
Użytkownik będzie wprowadzał treść, którą chce wyszukać, 
w pole tekstowe, a po wysłaniu formularza konieczne 
jest utworzenie żądania HTTP. -->

<div class="form-box">
  <form class="form" id="search-input">
    <input
      class="form__input"
      type="text"
      name="searchQuery"
      autocomplete="on"
      placeholder="U find here some cool pics! Just type sth, try me!"
    />
    <button class="form__sub-btn" type="submit">find it!</button>
  </form>
</div>
