.load-more-box {
    margin: 10px 10px;
    display: flex;
    justify-content: center;
}

.load-more {
    width: 150px;
    height: 38px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.hide-btn {
    display: none;
}


