@import '../utils/vars';

.form {
    outline: 3px blueviolet dotted;
    display: flex;
    justify-content: center;
    background-color: aqua;
    &__input {
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    &__btn-submit {
        outline: 3px green solid;
        margin-top: 20px;
    }
}